Configs/
SCIfile.txt
Raw/Audio/Never gonna give chu up (Cover, Never gonna give you up)_data
*.aup
build/
Raw/Audio/SpongeBob Music Ocean Man (Instrumental)_data
Raw/Audio/Super Slam Bros Melee - Menu Theme (Quad City DJ's vs Smash Orchestra)_data
